<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<!-- bean creation with constructor -->
	<bean id="service1" class="com.spring.beans.MyService">
		<constructor-arg value="Message from Value"></constructor-arg>
	</bean>

	<!-- bean creation with static factory method -->
	<bean id="message" class="com.spring.beans.MessageFactory"
		factory-method="message"></bean>
	<bean id="service2" class="com.spring.beans.MyService">
		<constructor-arg ref="message"></constructor-arg>
	</bean>

	<bean id="serviceFactory"
		class="com.spring.beans.MyServiceFactory"></bean>
	<bean id="service3" factory-bean="serviceFactory"
		factory-method="myService" />

	<!-- static factory -->
	<!-- <bean class="com.spring.beans.ApplicationNameFactory" factory-method="applicationName"></bean> -->

	<!-- instance factory -->
	<!-- <bean id="propFactory" class="com.spring.beans.PropertiesFactory"></bean> 
		<bean factory-bean="propFactory" factory-method="names"></bean> -->
</beans>